.about {
    padding: 40px 50px;

    .col50 {
        display: flex;
        align-items: center;
        justify-content: center;
        .about-left {
            img {
                max-width: 220px;
                padding: 2px;
                border: solid 3px $primary-color;
                border-radius: 5px;
                transition: 0.5s;
            }
            img:hover {
                transform: scale(1.1);
                filter: blur(0);
            }
        }
        .about-rigth {
            padding: 50px 0px;
            border-top: solid $secundary-color;
            border-bottom: solid $secundary-color;
        }
    }
}
@include movil {
    .about {
        padding: 40px 20px;
        .row {
            flex-direction: column;
            align-items: center;
            .col50{
                width: 100%;
                .about-rigth{
                    padding: 30px 0px;
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }
    }
}
