@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* body {
    width: 70%;
    margin: auto;
} */

/* span {
    color: $primary-color;
    font-weight: 700;
    font-size: 1.5em;
} */

.d-none {
    display: none;
}

.titleText {
    position: relative;
    margin-bottom: 40px;
    width: 180px;
    color: #111;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    background: $secundary-color;
    transform: skewY(-5deg);
}
@include movil {
    .titleText {
        font-size: 1.2em;
    }
}
.titleText:hover {
    transform: skewY(0deg) scale(1.1);
    filter: blur(0);
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50 {
    position: relative;
    width: 48%;
}
.place {
    display: flex;
    align-items: center;
    img {
        position: relative;
    }
    p {
        font-size: 1.3em;
        position: relative;
        left: 10px;
        font-weight: 500;
        span {
            position: relative;
            left: 20px;
            top: -2px;
            background: $primary-color;
            padding: 2px 10px;
            border-radius: 10px;
            font-size: 16px;
            color: #fff;
            letter-spacing: 1px;
        }
    }
}
@include movil {
    .place {
        p {
            font-size: 1.1em;
            span {
                left: 10px;
                top: 2px;
            }
        }
    }
}

@include movil {
    header,
    .skills,
    .educacion,
    .experiencia {
        padding: 40px 20px !important;
    }
}

.toggle {
    position: fixed;
    top: 40px;
    right: 25px;
    width: 50px;
    height: 50px;
    background: #fff url(/images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 100000;
    display: none;
}
.toggle.active {
    background: #fff url(/images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
.navigation-movil {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 15;
    span {
        position: absolute;
        top: -100%;
        left: calc(25% * var(--i));
        width: 25%;
        height: 100%;
        background: $secundary-color;
        transition: 0.25s;
        border: 1px solid rgba(0, 0, 0, 0.25);
        transition-delay: calc(0.25s * var(--i));
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
        transform: translateX(-100px);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        transition-delay: 0s;
        li {
            list-style: none;
            a {
                text-decoration: none;
                font-size: 3em;
                font-weight: 700;
                color: #fff;
                display: inline-block;
                padding: 5px 20px;
            }
            a:hover {
                background: #fff;
                color: $secundary-color;
            }
        }
    }
}
.navigation-movil.active {
    visibility: visible;
    span {
        top: 0;
    }
    ul {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
        transition-delay: 0.75s;
    }
}

.containerBx {
    z-index: 10;
}

@include tablet{
    .toggle{
        display: initial;
    }
}
@include movil{
    .toggle{
        display: none;
    }
}