.educacion {
    padding: 40px 50px;
    background: $primary-color;
    .place {
        p {
            color: #fff;
            span {
                background: $secundary-color;
            }
        }
    }
    .content {
        position: relative;
        top: 40px;
        padding: 30px 0px;
        border-top: solid 3px #fff;
        border-bottom: solid 3px #fff;
        margin-bottom: 90px;
        p {
            color: #fff;
            font-size: 22px;
            width: 90%;
            margin: auto;
            transition: 0.2s;
        }
    }
    .content:hover {
        border-color: $secundary-color;
        p {
            transform: scale(1.03);
            filter: blur(0);
        }
    }
}

@include movil {
    .educacion {
        .content {
            text-align: center;
        }
    }
}